.Cart {
  display: inline-block;
  border: 2px solid #002C3E;
}

.Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #78BCC4;
}

.Subtotal-Container {
  display: flex;

}

.Subtotal {
  font-size: 25px;
}

.Checkout {
  margin-left: auto;
}

span {
  font-size: 30px;
}