.Cart {
  display: inline-block;
  border: 2px solid #002C3E;
}

.Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #78BCC4;
}
