/* Styling for cart */
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Container .Cart {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  height: fit-content;
  border: 5px solid #002c3e;
  border-radius: 5px;
  width: fit-content;
}
.Cart .Subtotal-Container {
  display: flex;
}

.Cart .Subtotal {
  font-size: 25px;
}

.Cart .Checkout {
  margin-left: auto;
}

.Cart span {
  font-size: 30px;
}
.Cart li {
  list-style-type: none;
}
.Cart button {
  width: fit-content;
}
.Cart ul {
  padding-inline-start: 0px;
}
.Cart img {
  width: 50px;
  height: 50px;
}
.Cart {
  padding: 60px;
}
