/* Styling for cart */

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Container .Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border: 5px solid #002c3e;
  border-radius: 8px;
  width: fit-content;
}
.Cart .Subtotal-Container {
  display: flex;
  align-items: center;
}

.Cart .Subtotal {
  font-size: 25px;
}

.Cart span {
  font-size: 30px;
}
.Cart li {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  padding-bottom: 20px;
}
.Cart button {
  width: fit-content;
}
.Cart ul {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Cart img {
  width: 50px;
  height: 50px;
}
.Cart {
  margin-top: 40px;
  padding: 60px;
  background-color: white;
}
