.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel img {
    /* sets the size of the images in the carousel */
    width: 300px;
    height: auto;
    margin: 0 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}