.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer; /* To show a pointer when hovering */
}

.card-image {
  width: 100%;
  height: 200px; /* Control the size of the image container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.no-image {
  font-size: 16px;
  color: #888;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  min-height: 200px; /* Make card-info section taller */
  height: auto;
  flex-grow: 1; /* Allow it to expand to fill available space */
}

.card-info h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card-info p {
  margin: 4px 0;
  font-size: 1rem;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.original-price {
  font-size: 1.2rem;
  color: #000; /* Black color for the original price */
}

/* This style is for the crossed-out original price */
.discounted {
  text-decoration: line-through;
  color: #888; /* Light gray color for crossed-out original price */
}

.sale-price {
  color: #ff6b6b; /* Highlight the sale price in a different color */
  font-weight: bold;
}
