/* Main navigation styles */
.nav {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0;
  background-color: #002c3e;

}

.navbarButton {
  text-decoration: none;
  color: #b62f30;
  font-size: 30px;
  padding: 20px;
}
.right {
  margin-left: auto;
}

/* Hide the hamburger menu by default */
.hamburger {
  display: none;
  margin-left: auto;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
    color: #b62f30;
  }
  .nav.open .right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    text-align: center;
  }
}
