header {
  background-color: #002c3e;
}

body {
  background-color: #78bcc4;
}

.cartPic {
  width: 20px;
  height: auto;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

img.card-image {
  width: 100px;
  height: 100px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

.card-price {
  font-size: 1.2em;
  color: #007bff;
}

.card-link {
  font-size: 1.2em;
  color: #007bff;
}

#recCards {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 10px;
}

#regCards {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}

footer {
  background-color: #002c3e;
  width: 150%;
  height: 150px;
  color: white;
  margin-left: -40px;
  margin-top: 400px;
}
body::-webkit-scrollbar {
  display: none; /* Hides scroll bar in Safari and Chrome */
}
@media screen and (max-width: 740px) {
  #regCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 740px) {
  #recCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
  }
}
